*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: #ffff;
}
.background{
    background:  linear-gradient(45deg,  #000000c7, #00000095), url(../img/hair.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 200px;
}
 
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 7px;
}
.login{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(151, 63, 25);
}
.card-body{
    border-radius: 16px;
    width: 1000px;
}
.form-control{
    border-radius: 10px;
}
.fa{
    color: rgb(151, 63, 25);
} 
 #submit-btn a{
     border: 2px solid rgb(182, 56, 7);
     padding: 5px 30px;
     color: #ffff;
     background: rgb(182, 56, 7);
     transition: all 0.5s ease-in;
     font-weight: bold;
 }
 .btn{
     border-radius: 40px !important;
 }
 #submit-btn a:hover{
     background: transparent;
     color: rgb(182, 56, 7);
     font-weight: bold;
     padding: 5px 30px;
 }