<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <!-- Footer -->
    <footer id="footer" class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <h3>PeregBeauty</h3>
                    </div>
                    <div class="footer-logo-text">
                        <p>We are Pereg Hair Care we have been produing and selling varieties of organic hair product within
                            Eket and all over
                            Akwa-Ibom.</p>
                    </div>
                    <ul class=" d-flex  justify-content-between footer-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-links">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="#">Email Us</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Gift Plans</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Hair Problems ?</a></li>
                    </ul>
    
                </div>
                <div class="col-md-3 footer-portfolio">
                    <h3>Portfolio</h3>
                    <div class="row text-center">
                        <div class="col-4 col-md-4 mx-0 px-0 mb-3">
                            <img class="img-fluid" src="img/categories/hair-beauty.png" alt="">
                        </div>
                        <div class="col-4 col-md-4 mx-0 px-0">
                            <img class="img-fluid" src="img/categories/hair-grower.png" alt="">
                        </div>
                        <div class="col-4 col-md-4 mx-0 px-0 mb-3">
                            <img class="img-fluid" src="img/categories/hair-beauty.png" alt="">
                        </div>
                        <div class="col-4 col-md-4 mx-0 px-0">
                            <img class="img-fluid" src="img/categories/hair-grower.png" alt="">
                        </div>
                        <div class="col-4 col-md-4 mx-0 px-0 mb-3">
                            <img class="img-fluid" src="img/categories/hair-beauty.png" alt="">
                        </div>
                        <div class="col-4 col-md-4 mx-0 px-0">
                            <img class="img-fluid" src="img/categories/hair-grower.png" alt="">
                        </div>
    
                    </div>
                </div>
                <div class="col-md-3 footer-contact-us">
                    <h3>Contact Us</h3>
                    <ul class="contact-list">
                        <li><i class="fa fa-map-marker"></i> #38 Afaha Uqua Eket, Akwa Ibom</li>
                        <li><i class="fa fa-phone"></i> 09054801472, </li>
                        <li><i class="fa fa-envelope-o"></i> Email Us: <a href="">pereghair@gmail.com</a></li>
                        <li><i class="fa fa-twitter"></i> Twitter: @pereg.twitter</li>
                        <li><i class="fa fa-facebook"></i> <a href="#">@pereg</a></li>
                        <li><i class="fa fa-instagram"></i> <a href="#">@pereg</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>