<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="./css/header.css">
<body>
    <div class="top-nav">
        <div class="container">
            <div class="welcome-note">
                <p>Welcome to our Styling!</p>
            </div>
        </div>
    
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="indexx.html"><img src="img/logo/Asset-3.svg" alt="logo" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html" id="home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html" id="about-us">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products-services.html" id="our-products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html" id="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categories.html" id="categories">Categories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="register" href="register.html">Register</a>
                            <a class="dropdown-item"id="login" href="login.html">Login</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </nav>
</body>
</html>